﻿@model BeachsideSeafood.Data.OpenPositionID

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OpenPositionID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.StoreNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.StoreNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionID1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
